---
import Roasters from '../components/Roasters.astro';
import Layout from '../layouts/Layout.astro';


---

<Layout title="Coffee Roasters - Mail Order">
	<main>
		<h1>Pulling data from a Google Sheet</h1>
		<p>The data on this page comes from <a href="https://docs.google.com/spreadsheets/d/1h-oqlqJ_G3UXuDSkdFHuEaCVuOXQOb68y2sduXQRTn4/edit?usp=sharing">this Google Sheet</a>. 
			See the <a href="https://github.com/digitalcolony/google-sheet-fetch">repo</a> for how it is done. </p>
		
			<Roasters />
	</main>
</Layout>

